<div class="container">
  <div class="row">
    <div class="col">
      <div class="outer">
        <div class="about-text">
            <div style="top: 84px; left: 63px;">
              <h1 class="text-center m-5" style="border-bottom: 3px dashed #78420e;">About</h1>
              <p class="text-center" style="font-size: 24px; font-weight: 500;">
                ながのCAKEは全国発送可能なケーキ屋さんです。<br>
                お子様から年寄りの方までお召し上がりいただけるよう、<br>
                様々なバリエーションをご用意しております。<br>
                また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
                ぜひご注文下さい。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <%= image_tag  "3708631_s.jpg", size: '500x320', class: "rounded-circle border border-brown" %>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>