<div class= "container">
    <div class='row'>
      <div class='col-4'>
        <h4>商品一覧</h4>
　　　</div>
<div class='list-wrap'>
  <% @items.each do |item| %>
    <div class="list-box">
        <%= image_tag item.image, size:"200x200", class: "p-5 object-cover" %>
        <div class= "list-comment">
          <span><%= link_to item.name, item_path(item.id) %></span></br>
          <span><%= item.price %></span>
            <!--% if item.is_active == true %-->
        </div>
    </div>
  <% end %>
  <%= paginate @items %>
</div>
</div>
</div>